/* You can add global styles to this file, and also import other style files */
html,body {
    margin:0;
    height: 100%;
    overflow-y: hidden;
}

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.md-tab-label{min-width:0px !important;}

.ng2-dropdown-button{min-width:0px !important; width: auto !important;}

.ng2-dropdown-container{display: inline-block;}

.ng2-tag-input__text-input{padding: 0 !important;}

.ng2-tag-input{padding: 0 !important;}

h1,h2,h3 {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}