/* You can add global styles to this file, and also import other style files */
html,body {
    margin:0;
    height: 100%;
    overflow-y: hidden;
}

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.md-tab-label{min-width:0px !important;}

.ng2-dropdown-button{min-width:0px !important; width: auto !important;}

.ng2-dropdown-container{display: inline-block;}