/* You can add global styles to this file, and also import other style files */
$dark: #320b86;
$textLight: #f5f5f5;
$accent: #ffd740; 
app-root{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

image-index, template-index, template-instance-index, album-index, display-album{
    height: 100%;
    max-height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.index-content{
    height: 100%;
    max-height: calc(100% - 64px);
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group{
    background-color: $accent !important;
}
datatable-body-row.active md-chip{
    background-color: white !important;
}

.side{
    background: $dark;
    color: white;
}

.sidenav-toolbar{
}

create-new-iamge-element {
    transition: none;
}

create-new-image-element .animated {
    transition: height 0.25s, width 0.25s;
}

create-new-template-instance .sidenav-toolbar{
    width: 100% !important;
}

admin-index{
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

user-templates {
    height: 100%;
    position: relative;
    overflow: auto;
}

album-index-sidenav{
    width: 100%;
}

.main-toolbar{
    z-index: 20;
    position: relative;
}

album-index-sidenav md-grid-list{
}

album-index-sidenav album-menu{
    display: none;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


.fullscreen {
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.bg-dark{
    background: $dark;
}

.text-light{
    color: $textLight;
}

.shutter{
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-button{
    position: fixed !important; 
    margin: 30px !important;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.public-album{
    color: #ffd740;
    background: #673ab7;
}

.album.plus-album{
    box-sizing: border-box;
    border: 2px dashed;
    background: none;
    color: white;
}

.album{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 90%; 
    height: 90%; 
    background: gainsboro; 
    text-align: center;
}

.sidenav .album{
    background: none;
    box-shadow: none;
    border: 1px solid white;
    color: white;
}

.sidenav .plus-album{
    box-sizing: border-box;
    border: 2px dashed;
}

.element-tile{
    background: none !important;
    justify-content: center !important;
    flex-direction: column !important;
    border: 3px solid white;
    color: white;
}

.element-tile h5 {
    font-size: 0.9vw;
    margin: 0.7vw;
}

.element-tile md-icon{
    transform: scale(1.5,1.5);
}

md-radio-button{
    padding: 6px;
}

md-dialog-actions div{
    padding-left: 6px;
}

.side-switch{
    display: flex;
    justify-content: center;
    width: 100%; 
    align-items: center;
    min-height: 64px;
    color: white;
    background: #673ab7;
    transition:0.5s ease;
}

.side-switch.switch-active{
    background: $dark;
}

.sidenav{
    display: none;
    height: 100%;
    display: none;
    transition: 0.5s ease;
}

.sidenav div::-webkit-scrollbar {
    display: none;
}

.sidenav.sidenav-active{
    display: block;
    opacity: 1;
}

.image-wrap{
    width: 90%; 
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.album:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image-selected{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hue {
    width: 142px !important;
}

.color-picker{
    border: none !important;
}

md-grid-tile .shutter {
    position: relative;
}

album-index-sidenav .list-wrapper {
    overflow-y: auto;
    height: 100%;
}

body{
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}
/*
.md-tab-label{min-width:0px !important;}

.md-menu-panel{overflow: hidden !important;}

.md-sidenav-content{overflow: hidden !important;}

.md-tab-body-wrapper{height: 100% !important;}

.md-tab-body-content{
    height: 90% !important;
}
*/
.ng2-dropdown-button{min-width:0px !important; width: auto !important;}

.ng2-dropdown-container{display: inline-block;}

.ng2-tag-input__text-input{padding: 0 !important;}

.ng2-tag-input{padding: 0 !important;}

.mce-content-body p {
            font-size: 12pt;
}

ngx-datatable {
    height: 100%;
    overflow-y: auto !important;
}

h1,h2,h3 {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.selected {
	border: 2px dashed $dark !important;
}

.toolbar{
    font-size: 14px;
}

.nothing-found{
    opacity: 0.2;
}

.element-handle{
    z-index: 5; 
    position: absolute; 
    margin: -2px; 
    border-radius: 50%; 
    width: 10px; 
    height: 10px; 
    background: $dark;
    cursor: pointer;
}

.vertical{
    width: 1px; 
    height: 100%;
}
.horizontal{
    height: 1px; 
    width: 100%;
}

.guide{
    background-color: $dark; 
    position: absolute;
} 

.ruler{
    opacity: 1;
    background-color: $dark; 
    position: absolute;
} 