/* You can add global styles to this file, and also import other style files */
app-root{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

image-index{
	height: 100%;
	position: relative;
	overflow: auto;
}

admin-index{
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

user-templates{
    height: 100%;
    position: relative;
    overflow: auto;
}

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


.fullscreen {
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

body{
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}



.md-tab-label{min-width:0px !important;}

.md-menu-panel{overflow: hidden !important;}

.md-sidenav-content{overflow: hidden !important;}

.ng2-dropdown-button{min-width:0px !important; width: auto !important;}

.ng2-dropdown-container{display: inline-block;}

.ng2-tag-input__text-input{padding: 0 !important;}

.ng2-tag-input{padding: 0 !important;}

h1,h2,h3 {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.selected {
	border: 2px dashed blue !important;
}

.toolbar{
    font-size: 14px;
}